@import "bootstrap_imports";
@import "mardown";
@import "header";
@import "topics";
@import "nodes";
@import "index";

img.emoji {
  width: 20px;
  height: 20px;
}

.show-login {
  display:block;
  width: 300px;
  margin:20px;
}
