#sections {
  .panel-heading {
    color: #777;
  }

  .node-list {

    .media-left {
      min-width: 130px;
      color: #aaa;
      font-weight: normal;

      text-align: right;
    }

    .name {
      display: inline-block;
      width: 100px;
      text-align: left;
      margin-bottom: 10px;

      a:link {
        color: #333;
      }
      a:visited {
        color: #333;
      }
    }
  }
}
