.node-info {
  .name {
    strong {
      font-size: 16px;
      color: #666;
      font-weight: bold;
    }

    .total {
      padding-left: 10px;
      font-size: 12px;
    }
  }

  .summary {
    font-size: 13px;
  }
}
