.avatar {
  .avatar-48 {
    width: 48px;
    height: 48px;
  }
}

.panel-footer {
  .pagination {
    margin: 0;
  }
}

abbr.timeago {
  border-bottom: 0;
  cursor: text;
}

.no-result {
  text-align: center;
  color: $gray;
  padding-bottom: 20px;
}

.topic {
  padding: 10px 15px;
  min-height: 68px;
  border-bottom: 1px solid $lightGray;

  .title {
    font-size: 15px;
  }

  .info {
    font-size: 12px;
    color: $gray;
    margin-top: 10px;

    a {
      color: $grayBlackColor;
    }

    .node {
      padding: 1px 5px;
      color: $grayBlackColor;
      background-color: $lightGray;
    }
  }

  .count {
    padding-top: 12px;

    a {
      padding: 2px 12px;
      border-radius: 80px;
      color: white;
      text-decoration: none;
    }

    .state-true {
      background-color: $gray;
    }

    .state-false {
      background-color: #98ACDF;
    }
  }
}

.topic-detail {
  .media-heading {
    font-size: 24px;
    color: #333;
  }

  .info {
    font-size: 12px;
  }
}

#replies {
  .items {
    padding: 0;
  }

  .reply {
    position: relative;
    padding: 10px 15px 10px 74px;
    border-bottom: 1px solid $lightGray;

    .avatar {
      text-align: center;
      position: absolute;
      //top: 10px;
      left: 15px;
    }

    .infos {
      min-height: 48px;
      padding: 10px 0 0 0;

      .info {
        font-size: 12px;
        color: $gray;

        .reply-floor {
          color: #7AA87A;
          cursor: pointer;
        }

        .opts {
          color: #666;
        }
      }
    }

    .markdown {
      position: relative;
      font-size: 14px;
      word-wrap: break-word;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

#reply {
  .nav-pills a {
    padding: 3px 15px;
    border-radius: 0;
  }

  .topic-editor {
    border-radius: 0;
    color: #555;
  }

  li.edit {
    background-color: $lightGray;
  }

  .preview {
    padding: 10px 10px;
    border-radius: 0;
    min-height: 90px;
  }
}

