<div id="users">
  <div id="hot_users" class="user-list panel panel-default">
    <div class="panel-heading">
      <strong>TOP 100 活跃会员</strong>
      <div class="pull-right">目前已经有 20000+ 会员加入了 Ruby China</div>
    </div>

    <div class="panel-body">
      {{user-index users=model}}
    </div>
  </div>
</div>
{{outlet}}
