#replies {
  .items {
    padding:0;
  }


  .reply {
    position: relative;
    padding: 10px 15px 10px 74px;
    border-bottom: 1px solid $lightGray;

    .avatar {
      text-align: center;
      position: absolute;
      //top: 10px;
      left: 15px;
    }

    .infos {
      min-height: 48px;
      padding: 10px 0 0 0;

      .info {
        font-size: 12px;

        .reply-floor{
          cursor: pointer;
        }

        .opts {
          color: #666;
        }
      }
    }

    .markdown {
      position: relative;
      font-size: 14px;
      word-wrap: break-word;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}
