<div class="header">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#link-to 'application' class='navbar-brand'}}<b>Ember</b> RC{{/link-to}}
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-top">
        <ul class="nav navbar-nav">
          <li>
            {{#link-to 'topics' (query-params page=1)}}社区{{/link-to}}
          </li>
          <li><a href="/wiki">Wiki</a></li>
          <li><a href="/jobs">招聘</a></li>
          <li><a href="/twitter">推文</a></li>
          <li><a href="/sites">酷站</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="nav-search hidden-xs">
            <form class="navbar-form form-search" action="/search" method="GET">
              <div class="form-group">
                <input class="form-control" name="q" type="text" value="" placeholder="搜索本站内容">
              </div>
              <i class="fa btn-search fa-search"></i>
              <i class="fa btn-close fa-times-circle"></i>
            </form>
          </li>
          <li class="notification-count">
            <a href="/notifications" class="" title="通知"><i class="fa fa-bell"></i><span class="count">0</span></a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>
