<div id="excellent-topics" class="panel panel-default">
  <div class="panel-heading">社区精华帖</div>
  <div class="row panel-body">
    <div class="col-md-6">
      {{#each leftTopics key="id" as |topic|}}
        {{topic-item topic=topic class='topic'}}
      {{/each}}
    </div>

    <div class="col-md-6">
      {{#each rightTopics key="id" as |topic|}}
        {{topic-item topic=topic class='topic'}}
      {{/each}}
    </div>
  </div>

</div>

<div id="sections" class="panel panel-default">
  <div class="panel-heading">讨论节点分类导航</div>
  <div class="panel-body">
    <div class="row node-list">
      {{#each sections key="@guid" as |sec|}}
        <div class="col-md-12 node media">
          <label class="media-left">{{sec.name}}</label>
          <span class="nodes media-body">
            {{#each sec.nodes key="id" as |node|}}
              <span class="name">
                {{#link-to 'nodes.show' node.id title=node.name}}{{node.name}}{{/link-to}}
              </span>
            {{/each}}
          </span>
        </div>
      {{/each}}
    </div>
  </div>

</div>

