<div id="notifications" class="panel panel-default">
  {{#if isEmpty}}
    最近没有消息...
  {{else}}
    <div class="tools panel-heading">
      <span class="btn btn-danger" {{action 'clear'}}>
        <i class="glyphicon glyphicon-trash"></i> <span>清空</span>
      </span>

      <div class="pull-right"><h4>通知提醒</h4></div>
    </div>
    <div class="panel-body">
      {{#each model as |noty|}}
        {{noty-item noty=noty}}
      {{/each}}
    </div>
    <div class="panel-footer">
      显示最近 20 条...
    </div>
  {{/if}}
</div>